In [ ]:
#impor csv ke pandas

import pandas as pd

ord = pd.read_csv(r'D:\Bahan Belajar\Project\Retail_dataset\Orders.csv', sep=';')

ord

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,02/10/2017 10:56,02/10/2017 11:07,10/10/2017 21:25,18/10/2017 00:00
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,24/07/2018 20:41,26/07/2018 03:24,07/08/2018 15:27,13/08/2018 00:00
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,08/08/2018 08:38,08/08/2018 08:55,17/08/2018 18:06,04/09/2018 00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,18/11/2017 19:28,18/11/2017 19:45,02/12/2017 00:28,15/12/2017 00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,13/02/2018 21:18,13/02/2018 22:20,16/02/2018 18:17,26/02/2018 00:00
...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,6359f309b166b0196dbf7ad2ac62bb5a,delivered,09/03/2017 09:54,09/03/2017 09:54,17/03/2017 15:08,28/03/2017 00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,da62f9e57a76d978d02ab5362c509660,delivered,06/02/2018 12:58,06/02/2018 13:10,28/02/2018 17:37,02/03/2018 00:00
99438,83c1379a015df1e13d02aae0204711ab,737520a9aad80b3fbbdad19b66b37b30,delivered,27/08/2017 14:46,27/08/2017 15:04,21/09/2017 11:24,27/09/2017 00:00
99439,11c177c8e97725db2631073c19f07b62,5097a5312c8b157bb7be58ae360ef43c,delivered,08/01/2018 21:28,08/01/2018 21:36,25/01/2018 23:32,15/02/2018 00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,60350aa974b26ff12caad89e55993bd6,delivered,08/03/2018 20:57,09/03/2018 11:20,16/03/2018 13:08,03/04/2018 00:00

In [ ]:
ord['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [ ]:
#Jumlah data kosong
ord.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_timestamp        2965
order_estimated_delivery_date       0
dtype: int64

In [ ]:
orstat = ['created', 'approved', 'invoiced', 'processing', 'shipped', 'delivered','canceled', 'unavailable']
ord['order_status'] = pd.Categorical(ord['order_status'], categories = orstat, ordered = True)

In [ ]:
ord.groupby('order_status') [['order_purchase_timestamp', 'order_approved_at', 'order_delivered_timestamp', 'order_estimated_delivery_date']].agg(lambda x:x.isna().sum())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_400\3350492326.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('order_status') [['order_purchase_timestamp', 'order_approved_at', 'order_delivered_timestamp', 'order_estimated_delivery_date']].agg(lambda x:x.isna().sum())

,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
order_status,,,,
created,0,5,5,0
approved,0,0,2,0
invoiced,0,0,314,0
processing,0,0,301,0
shipped,0,0,1107,0
delivered,0,14,8,0
canceled,0,141,619,0
unavailable,0,0,609,0

In [ ]:
ord.to_csv("C_Orders.csv", index=False)