In [1]:
#impor csv ke pandas

import pandas as pd

prod = pd.read_csv(r'D:\Bahan Belajar\Project\Retail_dataset\Product.csv', sep=';')

prod

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,toys,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,toys,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,toys,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,toys,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,toys,2083.0,12.0,2.0,7.0

In [2]:
#Jumlah data kosong
prod.isna().sum()

product_id                 0
product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [3]:
prod[prod['product_height_cm'].isna()]

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,toys,NaN,NaN,NaN,NaN
18851,5eb564652db742ff8f28759cd8d2652a,toys,NaN,NaN,NaN,NaN

In [4]:
#Mengganti isi data
prod['product_category_name'] = prod['product_category_name'].fillna('Uncategorized')

In [5]:
#Ganti data yang Nan nilai detail productnya menjadi nilai mean
Nan_Data = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

for Col in Nan_Data:
    prod[Col] = prod.groupby('product_category_name')[Col].transform(lambda x: x.fillna(x.mean()))

In [6]:
#Jumlah data di kolom
prod['product_category_name'].value_counts()

product_category_name
toys                                 24725
bed_bath_table                         789
sports_leisure                         721
furniture_decor                        687
health_beauty                          648
                                     ...
fashion_childrens_clothes                1
diapers_and_hygiene                      1
home_comfort_2                           1
security_and_services                    1
furniture_mattress_and_upholstery        1
Name: count, Length: 71, dtype: int64

In [7]:
prod.to_csv("C_Product.csv", index=False)