In [ ]:
#impor csv ke pandas

import pandas as pd

order_pay = pd.read_csv(r'D:\Bahan Belajar\Project\Retail_dataset\Payment.csv', sep=';')

order_pay

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,wallet,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,wallet,1,191.58

In [2]:
order_pay['payment_type'] = order_pay['payment_type'].str.replace('not_defined', 'uncategorized')

In [3]:
order_pay['payment_type'].isna().sum()
order_pay['payment_type'].value_counts()

payment_type
credit_card      76795
wallet           19784
voucher           5775
debit_card        1529
uncategorized        3
Name: count, dtype: int64

In [4]:
order_pay[(order_pay['payment_type'] != 'credit_card') & (order_pay['payment_installments'] > 1)]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [6]:
order_pay.to_csv("C_Payment.csv", index=False)