In [ ]:
#impor csv ke pandas
import pandas as pd

cust = pd.read_csv(r'D:\Bahan Belajar\Project\Retail_dataset\customers.csv', sep=';')

cust

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...
99436,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [41]:
#Jumlah data kosong
cust.isna().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [47]:
#Cek nilai duplikat di table
cust['customer_id'].value_counts()[cust['customer_id'].value_counts()>1]

cust[cust.duplicated(subset='customer_id', keep = False)].sort_values('customer_id')

,customer_id,customer_zip_code_prefix,customer_city,customer_state
35608,00172711b30d52eea8b313a7f2cced02,45200,jequie,BA
19299,00172711b30d52eea8b313a7f2cced02,45200,jequie,BA
20023,004288347e5e88a27ded2bb23747066c,26220,nova iguacu,RJ
22066,004288347e5e88a27ded2bb23747066c,26220,nova iguacu,RJ
72451,004b45ec5c64187465168251cd1c9c2f,57055,maceio,AL
...,...,...,...,...
75057,ff922bdd6bafcdf99cb90d7f39cea5b3,17340,barra bonita,SP
27992,ff922bdd6bafcdf99cb90d7f39cea5b3,17340,barra bonita,SP
79859,ff922bdd6bafcdf99cb90d7f39cea5b3,17340,barra bonita,SP
64323,ffe254cc039740e17dd15a5305035928,37640,extrema,MG
12133,ffe254cc039740e17dd15a5305035928,37640,extrema,MG

In [51]:
#Hapus duplikat di kolom seperti order id
cust_copy = cust.copy()
cust_copy = cust_copy.drop_duplicates(subset=['customer_id'])

print('Banyak baris awal:                 :', len(cust))
print('Banyak baris setelah drop duplikat :', len(cust_copy))
print('Banyak baris yang di hapus         :', len(cust) - len(cust_copy))

Banyak baris awal:                 : 99441
Banyak baris setelah drop duplikat : 96096
Banyak baris yang di hapus         : 3345

In [53]:
cust = cust_copy
cust

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...
99436,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [54]:
cust[cust.duplicated(subset='customer_id', keep = False)].sort_values('customer_id')

Empty DataFrame
Columns: [customer_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [55]:
cust.to_csv("C_Customers.csv", index=False)